<mat-card>
  <mat-card-header>
    <mat-card-title>My Todo's</mat-card-title>
  </mat-card-header>
  <mat-card-content>
<!--    <form ngNativeValidate #myForm="ngForm" (submit)="add_todo()">
      <div fxFlexLayout="row" fxLayoutAlign="center start">
        <mat-form-field fxFlex="4 1 auto">
          <input matInput placeholder="할일" [(ngModel)]="todo" name="todo" required>
        </mat-form-field>
        <button type="submit" mat-raised-button color="primary" fxFlex="1 1 auto">추가</button>
      </div>
    </form>-->

    <form #myForm="ngForm" (ngSubmit)="add_todo()">
      <div fxLayout="row" fxLayoutAlign="center start">
        <mat-form-field fxFlex="4 1 auto">
          <input matInput placeholder="할일" [(ngModel)]="newTodo.todo" name="todo" #name="ngModel" required>
          <mat-hint align="start" style="color: red;">{{!name.value? '할일을 입력하세요' : ''}}</mat-hint>
        </mat-form-field>
        <button type="submit" mat-raised-button color="primary" fxFlex="1 1 auto"
                [disabled]="!myForm.form.valid">추가</button>
      </div>
    </form>

    <hr>
    <table class="table">
      <thead>
      <tr>
        <th>완료</th>
        <th>todo</th>
        <th>생성일</th>
        <th>수정일</th>
        <th>삭제</th>
      </tr>
      </thead>
      <tbody>
      <ng-template ngFor let-item [ngForOf]="todoList">
        <tr *ngIf="!item.isEdited" [@flyInOut] = "'in'" appHighlight [highlightColor]="'#ff77ee'">
          <td>
            {{item.isFinished ? '완료' : '미완료'}}
          </td>
          <td [class.todo_canceled]="item.isFinished">{{item.todo}}</td>
          <td>{{item.created | mydate: 'abc'}}</td>
          <td>{{item.updated | date: 'yyyy-MM-dd a hh:mm'}}</td>
          <td>
            <button mat-raised-button color="accent" (click)="save(item)">수정</button>
            <button mat-raised-button color="warn" (click)="remove(item)">삭제</button>
          </td>
        </tr>
        <tr *ngIf="item.isEdited">
          <td>
            <input type="checkbox" [(ngModel)]="item.isFinished">
          </td>
          <td [class.todo_canceled]="item.isFinished">
            <input [(ngModel)]="item.todo">
          </td>
          <td>{{item.created}}</td>
          <td>{{item.updated}}</td>
          <td>
            <button mat-raised-button color="accent" (click)="modify(item)">저장</button>
            <button mat-raised-button color="warn" (click)="restore(item)">취소</button>
          </td>
        </tr>
      </ng-template>
      </tbody>
    </table>
  </mat-card-content>
</mat-card>
