<mat-card>
  <mat-card-header>
    <mat-card-title>My Todo's</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form ngNativeValidate #myForm="ngForm" (submit)="add_todo()">
      <div fxFlexLayout="row" fxLayoutAlign="center start">
        <mat-form-field fxFlex="4 1 auto">
          <input matInput placeholder="할일" [(ngModel)]="todo" name="todo" required>
        </mat-form-field>
        <button type="submit" mat-raised-button color="primary" fxFlex="1 1 auto">추가</button>
      </div>
    </form>

    <hr>
    <table class="table">
      <thead>
      <tr>
        <th>완료</th>
        <th>todo</th>
        <th>생성일</th>
        <th>수정일</th>
        <th>삭제</th>
      </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </mat-card-content>
</mat-card>
