<mat-card>
  <mat-card-header>
    <mat-card-title>
      뉴스 목록
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="board-box" fxLayout="column" *ngFor="let news of newsList" >
      <p fxLayout="row" fxLayoutAlign="space-between center">
        <span>{{news.title}}</span><span>{{news.updated}} </span>
      </p>
    </div>
    <!-- 페이지네이션 -->
    <mat-paginator [length]="page.totalCount" [pageIndex]="page.pageIndex"
                   [pageSize]="page.pageSize"
                   [pageSizeOptions]="page.pageSizeOptions" (page)="pageChanged($event)">
    </mat-paginator>
  </mat-card-content>
</mat-card>
